<div>
  <!-- <app-missionfilter (yearSelected)="filterByYear($event)"></app-missionfilter> -->
  <div *ngFor="let data of filteredMissionList">
    <div>
      <img src="{{ data.links.mission_patch_small }}" alt="mission img">
    </div>
    <div>
      <h2>{{ data.mission_name || '-'}}</h2>
      <p>Year: {{ data.launch_year || '-' }}</p>
      <p>{{ data.details || '-'}}</p>
    </div>
  </div>
</div>


<!-- <div *ngFor="let data of fetchData">
    <div>
      <img src="{{ data.links.mission_patch_small }}" alt="mission img">
    </div>
    <div>
      <h2>{{ data.mission_name || '-'}}</h2>
      <p>Year: {{ data.launch_year || '-' }}</p>
      <p>{{ data.details || '-'}}</p>
    </div>
  </div> -->
  