/* style.css */
/* Example dark-themed styles */
body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Light text color */
  }
  
  mat-form-field {
    color: #ffffff; /* Light text color */
  }
  
  mat-option {
    background-color: #212121; /* Darker background color */
    color: #ffffff; /* Light text color */
  }
  